.cost-calc {
    background-color: #f3f3f3;
    padding: 80px 0;
    margin-bottom: 80px;

    .form-label-date-select {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 37.5px;
        margin-bottom: 40px;
        width: 350px;
    }

    &__form {
        display: flex;
        gap: 82px;

        &-left {
            width: 35%;

            .form {
                &-radios {
                    gap: 8px 0;
                    margin-bottom: 40px;

                    &-title {
                        font-size: 18px;
                        color: #1c120b;
                        margin-bottom: 15px;
                    }
                }

                &-label {
                    margin-bottom: 20px;
                }
            }
        }

        &-right {
            width: 65%;

            &-inputs {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                row-gap: 24px;

                .form-label {
                    width: 48%;
                }
            }

            &-add-btn {
                margin-top: 26px !important;
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    font-size: 18px;
                }
            }

            &-total {
                margin-top: 10px;
                text-align: end;
                font-size: 24px;
                font-weight: 500;
            }

            .normal-text {
                text-align: end;
                margin-top: 8px;
            }

            .normal-btn {
                margin-left: auto;
                display: block;
                padding: 19px 80px;
                margin-top: 24px;
                margin-bottom: 20px;
            }

            &-bottom {
                &-title {
                    font-size: 16px;
                    font-weight: 400;
                    color: #797979;
                    text-align: end;
                    margin-bottom: 8px;
                }

                &-text {
                    width: 80%;
                    margin-left: auto;
                    color: #797979;
                    font-size: 12px;
                    text-align: end;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;

            &-left {
                width: 50%;
                margin-left: 10px;
            }

            &-right {
                margin-top: 50px;
                width: 50%;
            }

            &-additionals {
                display: flex;
                flex-direction: column;
                gap: 24px;
                margin-top: 28px;
            }

            &-additional {
                display: flex;
                gap: 8px;

                &-texts {
                    p {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    span {
                        color: #797979;
                        font-size: 16px;
                        max-width: 276px;
                        line-height: 24px;
                        font-weight: 400;
                        display: inline-block;
                    }

                    b {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .cost-calc__form {
        gap: 30px;
    }
}

@media (max-width: 850px) {
    .cost-calc {
        margin-bottom: 40px;

        &__form {
            flex-direction: column;

            &-bottom {
                flex-direction: column;

                &-left,
                &-right {
                    width: 100%;
                }
            }

            &>div {
                width: 100%;
            }

            .normal-btn {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
@media (max-width: 800px) {
    .cost-calc {
        padding: 56px 0 !important;

        &__form {
            flex-direction: row !important;
            flex-wrap: wrap !important;

            &-left {
                width: 30% !important;

                .form-radios-labels {
                    flex-wrap: nowrap;
                    gap: 0 16px;
                }
            }

            &-right {
                width: 65% !important;
                margin-top: 108px;

                &-inputs {
                    .form-label {
                        width: 40% !important;
                        margin-top: 0;
                    }
                }

                .cost-calc__form-right-inputs {
                    gap: 20px 30px;
                    justify-content: start;
                }

                .cost-calc__form-bottom {
                    .cost-calc__form-bottom-left {
                        margin-left: 0;
                    }
                }
            }

            .normal-btn {
                &.opentotalsumDetailsModal {
                    width: 75%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .cost-calc {
        padding-bottom: 40px;
    }
}

@media (max-width: 680px)  {
    .cost-calc {

        .cost-calc__form-left {
            width: 100% !important;
        }
        .cost-calc__form-right {
            margin-top: 0 !important;
            width: 100% !important;

            .cost-calc__form-right-inputs {
                .form-label {
                    width: 100% !important;
                }
            }
        }

        .normal-btn {
            &.opentotalsumDetailsModal {
                width: 100% !important;
            }
        }

        .form-label-date-select {
            gap: 0px;
        }
    }
}

@media (max-width: 669px) {
    .cost-calc {
        padding-top: 40px;

        &__title {
            font-size: 24px;
            line-height: 36px;
            font-weight: 500;
        }

        &__form {
            &-left .form-radios {
                row-gap: 12px;

                &-title {
                    font-size: 16px;
                }
            }

            &-right {
                &-inputs {
                    row-gap: 15px;

                    .form-label {
                        margin-top: 0;
                        width: 100% !important;
                    }

                    .order-on-mobile {
                        order: 5;
                    }
                }

                &-bottom-text {
                    max-width: 321px;
                }
            }

            &-bottom {
                &-left {
                    &.on-desktop {
                        display: none;
                    }

                    &.on-mobile {
                        display: flex;
                        flex-direction: column;
                    }

                    .cost-calc__form-right-add-btn {
                        margin-top: 11px !important;
                        margin-bottom: 14px;
                    }
                }

                &-right {
                    margin-top: 30px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .cost-calc {
        padding-top: 40px;
        padding-bottom: 40px;

        &__title {
            width: 100%;
            font-size: 24px;
            line-height: 36px;
            font-weight: 500;
        }

        &__form-right {
            &-inputs {
                flex-direction: column;

                .form-label {
                    width: 100%;
                }
            }

            &-bottom {

                &-title,
                &-text {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .cost-calc {
        .cost-calc__form-right {
            .cost-calc__form-right-inputs {
                gap: 20px 30px !important;
            }
        }
    }
}

@media (max-width: 400px) {
    .cost-calc {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}